# env.example is a template for the env.local file
DEMO_MODEL_TENANT_ID=
DEMO_MODEL_CLIENT_ID=
DEMO_MODEL_CLIENT_SECRET=
DEMO_MODEL_API_HOST=
DEMO_LOGGER_EXPORTER=none # OR http
DEMO_TELEMETRY_TRACE_EXPORTER=none # OR http
DEMO_TELEMETRY_METRIC_EXPORTER=none # OR http
DEMO_LOGGER_HTTP_ENDPOINT_URL=http://telemetry:5080/api/default/v1/logs
DEMO_TELEMETRY_TRACE_HTTP_ENDPOINT_URL=http://telemetry:5080/api/default/v1/traces
DEMO_TELEMETRY_METRIC_HTTP_ENDPOINT_URL=http://telemetry:5080/api/default/v1/metrics
DEMO_LOGGER_HTTP_AUTHORIZATION="Basic ..."
DEMO_TELEMETRY_TRACE_HTTP_AUTHORIZATION="Basic ..."
DEMO_TELEMETRY_METRIC_HTTP_AUTHORIZATION="Basic ..."
#DEMO_MODEL_DEBUG_REQUEST=true
#DEMO_MODEL_DEBUG_RESPONSE=true
